<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block meta_title %}
      {% endblock %}
    </title>
    {% block in_head %}
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Black.ttf')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Bold.ttf')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/Nunito-Regular.ttf')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/mainstyles.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

    <script src="{{url_for('static', filename='libs/jquery-3.3.1.min.js')}}"></script>
  </head>
  <body>
    <div class="navigbar floatingShadow">
      <a href="/">
        <div class="navigbarItem">
          Say The Same Thing
        </div>
      </a>

      {% if current_user.is_authenticated %}
      <a href="/logout">
        <div class="navigbarItem navigbarItemRight">
          Log Out
        </div>
      </a>


      <div class="navigbarItem navigbarItemRight" id="usernameNavigbar">
          <div class="hidden" id="notificationBlob"></div>
        {{current_user.username}}
      </div>

      <div id="data-div" data-gameid="{{game_id}}" data-newnotifications={{new_notifications|length}}></div>

      {% else %}

      <a href="/register">
        <div class="navigbarItem navigbarItemRight">
          Sign Up
        </div>
      </a>

      <a href="/login">
        <div class="navigbarItem navigbarItemRight">
          Log In
        </div>
      </a>
      {% endif %}
    </div>


    <div class="floatContainer compOrange floatingShadow hidden" id="floatNotification">
    </div>


    <div class="mainContainer">
      <div class="topSpace">
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          <div class="flash_msg compOrange floatingShadow">
            {{msgs[0]}}
          </div>
        {% endif %}
      {% endwith %}
    </div>


      {% block main_content %}
      {% endblock %}
    </div>

    {% block body_end %}
    {% endblock %}
  </body>
  <script src="{{url_for('static', filename='javascript/polling_notifications.js')}}"></script>
</html>
