{% extends "withsidebar.html" %}

{% block meta_title %}
  Find User - Say The Same Thing
{% endblock %}


{% block page_content %}
  <h2 class="textAlignMiddle">Find user</h2>
  <form action="/users">
    <input type="text" name="searchWord" value="" placeholder="Username or e-mail address">
  </form>
  <br>
  {% if search_results|length > 0%}
  <div class="tableHolder compHighligh">
    <table>
      <tbody>
        {% for user in search_results %}
          <tr>
              <td>
                <a href="/user/{{user.username}}">
                  <div class="resultItemButton resultItemUser compWhite">
                    {{user.username}}
                  </div>
                </a>
              </td>
              {% if not current_user == user %}
                <td>
                  <a href="/start_game/{{user.username}}">
                    <div class="resultItemButton compDark">
                      Start Game
                    </div>
                  </a>
                </td>
                {% if not user in current_user.buddies %}
                <td>
                  <a href="/user/{{user.username}}/add_buddy">
                    <div class="resultItemButton compDark">
                      Add
                    </div>
                  </a>
                </td>
                {% else %}
                <td>
                  <a href="/user/{{user.username}}/remove_buddy">
                    <div class="resultItemButton compDark">
                      Remove
                    </div>
                  </a>
                </td>
                {% endif %}
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}


  {% if recent_users|length>0 %}
  <h3>New users:</h3>
  <div class="tableHolder compHighligh">
    <table>
      <tbody>
        {% for user in recent_users %}
          <tr>
              <td>
                <a href="/user/{{user.username}}">
                  <div class="resultItemButton resultItemUser compWhite">
                    {{user.username}}
                  </div>
                </a>
              </td>
              {% if not current_user == user %}
                <td>
                  <a href="/start_game/{{user.username}}">
                    <div class="resultItemButton compDark">
                      Start Game
                    </div>
                  </a>
                </td>
                {% if not user in current_user.buddies %}
                <td>
                  <a href="/user/{{user.username}}/add_buddy">
                    <div class="resultItemButton compDark">
                      Add
                    </div>
                  </a>
                </td>
                {% else %}
                <td>
                  <a href="/user/{{user.username}}/remove_buddy">
                    <div class="resultItemButton compDark">
                      Remove
                    </div>
                  </a>
                </td>
                {% endif %}
              {% else %}
                <td colspan="2">
                  This is you
                </td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}
