{% extends "withsidebar.html" %}

{% block meta_title %}
  Change Password - Say The Same Thing
{% endblock %}


{% block page_content %}
  <form action="/change_password" method="POST">
    <div class="inputDiv">
      Change your password
    </div>
    <div class="inputDiv">
      <input type="password" name="old_password" value="" placeholder="Current Password" required>
    </div>
    <div class="inputDiv">
      <input type="password" name="password" value="" placeholder="New Password" required>
    </div>
    <div class="inputDiv">
      <input type="password" name="password_conf" value="" placeholder="Confirm Password" required>
    </div>
    <div class="inputDiv ">
      <input type="submit" value="Change Password">
    </div>
  </form>
{% endblock %}
