{% extends "withsidebar.html" %}

{% block meta_title %}
  My Buddies - Say The Same Thing
{% endblock %}


{% block page_content %}
  <h2 class="textAlignMiddle">My buddies</h2>
  <table>
    <tbody>
      {% for buddy in buddies %}
        <tr>
            <td>
              <a href="/user/{{buddy.username}}">
                <div class="resultItemButton resultItemUser compWhite">
                  {{buddy.username}}
                </div>
              </a>
            </td>
            <td>
              <a href="/start_game/{{buddy.username}}">
                <div class="resultItemButton compDark">
                  Start Game
                </div>
              </a>
            </td>
            <td>
              <a href="/user/{{buddy.username}}/remove_buddy">
                <div class="resultItemButton compDark">
                  Remove
                </div>
              </a>
            </td>
        </tr>
      {% endfor %}
      {% if buddies|length == 0 %}
        <h3 class=textAlignMiddle>You do not have any buddies yet. :(</h3>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
