{% extends "withsidebar.html" %}

{% block meta_title %}
  My Games - Say The Same Thing
{% endblock %}


{% block page_content %}
  <h2 class="textAlignMiddle">My Games</h2>
  <i class="fas fa-edit fa-lg editIcon" id="editButton"></i>
  <h3>Current games</h3>

  {% if current_games|length >0 %}
  <div class="tableHolder compHighligh">
    <table>
      <tbody>
        <tr>
          <th>Opponent</th>
          <th>Status</th>
          <th>Turns</th>
        </tr>
        {% for game in current_games %}
        <tr>
          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compWhite miniUsername">
                {{game['opponent'].username}}
              </div>
            </a>
          </td>

          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compDark">
                {% if game['status'] == "STATUS_GO" %}
                Ready
                {% elif game['status'] == "STATUS_WON" %}
                Finished
                {% elif game['status'] == "STATUS_WAIT" %}
                Waiting
                {% endif %}
              </div>
              </a>
          </td>
          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compDark">
                {{game['turns']}}
              </div>
            </a>
            <a href="/play/{{game['id']}}/remove">
              <i class="fas fa-times fa-lg tdRemove hidden"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
  <h3 class="textAlignMiddle"> No current games</h3>
  {% endif %}


  <h3>Finished games</h3>
  {% if finished_games|length >0 %}
  <div class="tableHolder compHighligh">
    <table>
      <tbody>
        <tr>
          <th>Opponent</th>
          <th>Status</th>
          <th>Turns</th>
        </tr>
        {% for game in finished_games %}
        <tr>
          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compWhite miniUsername">
                {{game['opponent'].username}}
              </div>
            </a>
          </td>

          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compDark">
                {% if game['status'] == "STATUS_GO" %}
                Ready
                {% elif game['status'] == "STATUS_WON" %}
                Finished
                {% elif game['status'] == "STATUS_WAIT" %}
                Waiting
                {% endif %}
              </div>
              </a>
          </td>
          <td>
            <a href="/play/{{game['id']}}">
              <div class="resultItemButton compDark">
                {{game['turns']}}
              </div>
            </a>
            <a href="/play/{{game['id']}}/remove?next=/games">
              <i class="fas fa-times fa-lg tdRemove hidden"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
  <h3 class="textAlignMiddle"> No finished games</h3>
  {% endif %}
  <script src="{{url_for('static', filename='javascript/deletegames.js')}}"></script>
{% endblock %}
