{% extends "main.html" %}

{% block meta_title %}
  Register - Say the Same Thing
{% endblock %}


{% block main_content %}
  <div class="midScreenForm formBubble">
    <div class="bubblecomp1left"></div>
    <div class="bubblecomp2left"></div>
    <div class="bubblecomp3left"></div>
    <form action="/register">
      <div class="inputDiv">
        Sign up with an account
      </div>
      <div class="inputDiv" >
        <img src=
        "/static/avatars/{% if prev_form %}{{prev_form['avatar']}}{% else %}0{% endif %}.png"
        id="previewAvatar" alt="" width="120" height="120">
        <input type="hidden" name="avatar" value=
        "{% if prev_form: %}{{prev_form['avatar']}}{% else %}0{% endif %}"
        id="registerAvatar">
      </div>
      <div class="inputDiv">
        <input type="text" name="username" value=
        "{% if prev_form: %}{{prev_form['username']}}{% endif %}"
        placeholder="Username" required>
      </div>
      <div class="inputDiv">
        <input type="password" name="password" value="" placeholder="Password" required>
      </div>
      <div class="inputDiv">
        <input type="password" name="password_conf" value="" placeholder="Confirm password" required>
      </div>
      <div class="inputDiv">
        <input type="email" name="email" value=
        "{% if prev_form: %}{{prev_form['email']}}{% endif %}"
        placeholder="E-mail address" required>
      </div>
      <div class="inputDiv ">
        <input type="submit">
      </div>
    </form>
  </div>

{% endblock %}

{% block body_end%}
  <div class="floatContainer compWhite floatingShadow hidden" id="floatContainer">
    <div class="turnBubble floatContBubble compDark">Pick an avatar</div>
    <div class="avatarGrid">
      {% for x in  range(0, 18) %}
      <img src="{{url_for('static', filename= 'avatars/'+ (x+1)|string +'.png')}}" avatar-num="{{x+1}}" class="avatarPick" alt="" width="80" height="80">
      {% endfor %}
    </div>
    <div class="avatarBreak">

    </div>
    <div class="avatarGrid">
      {% for x in  range(18, 42) %}
      <img src="{{url_for('static', filename= 'avatars/'+ (x+1)|string +'.png')}}" avatar-num="{{x+1}}" class="avatarPick" alt="" width="80" height="80">
      {% endfor %}
    </div>
    <div class="avatarBreak">

    </div>
    <div class="avatarGrid">
      {% for x in  range(42, 54) %}
      <img src="{{url_for('static', filename= 'avatars/'+ (x+1)|string +'.png')}}" avatar-num="{{x+1}}" class="avatarPick"  alt="" width="80" height="80">
      {% endfor %}
    </div>
  </div>

  <script src="{{url_for('static', filename='javascript/change_avatar.js')}}"></script>
{% endblock %}
