{% extends "withsidebar.html" %}

{% block meta_title %}
  Find User - Say The Same Thing
{% endblock %}


{% block page_content %}
  <h3>Search for user:</h3>
  <form action="/users">
    <input type="text" name="searchWord" value="" placeholder="Username or e-mail address">
  </form>
  {% if search_results %}
    <br>
    {% for user in search_results %}
      <div class="resultItem ">
        <a href="/user/{{user.username}}">
          <div class="resultItemButton resultItemUser compWhite">
            {{user.username}}
          </div>
        </a>
        {% if not current_user == user %}
        <a href="/start_game/{{user.username}}">
          <div class="resultItemButton compDark">
            Start Game
          </div>
        </a>
        <a href="/user/{{user.username}}/add_buddy">
          <div class="resultItemButton compDark">
            Add
          </div>
        </a>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}

  <h3>New users:</h3>
  {% for user in recent_users %}
    <div class="resultItem ">
      <a href="/user/{{user.username}}">
        <div class="resultItemButton resultItemUser compWhite ">
          {{user.username}}
        </div>
      </a>
      {% if not current_user == user %}
      <a href="/start_game/{{user.username}}">
        <div class="resultItemButton compDark">
          Start Game
        </div>
      </a>
      <a href="/user/{{user.username}}/add_buddy">
        <div class="resultItemButton compDark">
          Add
        </div>
      </a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
