{% extends "withsidebar.html" %}

{% block meta_title %}
  {{user.username}} - Say The Same Thing
{% endblock %}


{% block page_content %}
  <style>
    @keyframes barGrow{
      0% {width: 0%}
      100% {width: {{user_leveling.xp_to_level*100}}%}
    }
    #userBarFill{width: {{user_leveling.xp_to_level*100}}%;
                animation-name: barGrow;
                animation-duration: 0.8s}
  </style>

  <div class="profileCard compHighligh">

    <div class="profileCardLeft">
      <img src="{{url_for('static', filename= 'avatars/'+ user.avatar|string +'.png')}}" id="previewAvatar" alt="" width="120" height="120">
    </div>

    <div class="profileCardRight">
      <div class="profileCardUsername">
        {{user.username}}
      </div>
      <div class="profileCardLeveling">
        <div class="levelHolder">
          Lvl {{user_leveling.level}}
        </div>
        <div class="levelBar levelBarThick compDark">
          <div class="levelBarFill levelBarThick compWhite" id="userBarFill"></div>
          <div class="XPindicator">
            {{user.xp-user_leveling.prev_mark}}/{{user_leveling.next_mark}}
          </div>
        </div>
      </div>
      <div class="profileCardLeveling">
        XP: {{user.xp}}
      </div>

      <div class="profileCardButtonsPanel">
      {% block profilecard_buttons %}
        {% if not current_user == user %}
        <a href="/start_game/{{user.username}}">
          <div class="resultItemButton compDark">
            Start Game
          </div>
        </a>
        {% if not user in current_user.buddies %}
        <a href="/user/{{user.username}}/add_buddy">
          <div class="resultItemButton compDark">
            Add
          </div>
        </a>
        {% else %}
        <a href="/user/{{user.username}}/remove_buddy?next=/user/{{user.username}}">
          <div class="resultItemButton compDark">
            Remove
          </div>
        </a>

        {% endif %}
        {% endif %}
      {% endblock %}
      </div>
    </div>
  </div>

  {% block users_bottom_panel %}
    <h3>Games with user</h3>
    <i class="fas fa-edit fa-lg editIcon" id="editButton"></i>
    {% if games|length >0 %}
    <div class="tableHolder compHighligh">
      <table>
        <tbody>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Turns</th>
          </tr>
          {% for game in games %}
          <tr>
            <td>
              <a href="/play/{{game['id']}}">
                <div class="resultItemButton compWhite">
                  #{{game.id}}
                </div>
                </a>
            </td>
            <td>
              <a href="/play/{{game['id']}}">
                <div class="resultItemButton compDark">
                  {% if game['status'] == "STATUS_GO" %}
                  Ready
                  {% elif game['status'] == "STATUS_WON" %}
                  Finished
                  {% elif game['status'] == "STATUS_WAIT" %}
                  Waiting
                  {% endif %}
                </div>
                </a>
            </td>
            <td>
              <a href="/play/{{game['id']}}">
                <div class="resultItemButton compDark">
                  {{game['turns']}}
                </div>
              </a>
              <a href="/play/{{game['id']}}/remove?next=/user/{{user.username}}">
                <i class="fas fa-times fa-lg tdRemove hidden"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
      </table>
    </div>
    {% else %}
    <h4 class="textAlignMiddle">No games with user</h4>
    {% endif %}
    <script src="{{url_for('static', filename='javascript/deletegames.js')}}"></script>
  {% endblock %}
{% endblock %}
