{% extends "main.html" %}

{% block in_head %}
{% if curr_user_leveling %}
  <style>
  #currentUserBarFill{ width: {{curr_user_leveling.xp_to_level*100}}%}
  </style>
{% endif %}
{% endblock %}

{% block main_content %}
  <div class="pageContainerBubble">
    <div class="bubblecomp1left"></div>
    <div class="bubblecomp2left"></div>
    <div class="bubblecomp3left"></div>
    {% block page_content %}
    {% endblock %}
  </div>




  <div class="rightContainer">
    <a href="/user_settings" id="user_sidebar_anchor">
      <div id="userSideBar">
        <div id="avatarBub" class="rightContBubble hoverableOrange" >
          <div class="bubblecomp1"></div>
          <div class="bubblecomp2"></div>
          <div class="bubblecomp3"></div>
          <img src="{{url_for('static', filename= 'avatars/'+ current_user.avatar|string +'.png')}}" alt="" width="120" height="120">
        </div>

        <div class="userInfoCont" id="currentUserInfo">
          <div class="userNameHolder">
            {{current_user.username}}
          </div>
          <div class="userInfoHolder">
            <div class="levelHolder">
              lvl {{curr_user_leveling.level}}
            </div>
            <div class="levelBar">
              <div class="levelBarFill" id="currentUserBarFill"></div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/play_random">
      <div class="rightContBubble hoverableOrange">
        <div class="bubblecomp1"></div>
        <div class="bubblecomp2"></div>
        <div class="bubblecomp3"></div>
        Play!
      </div>
    </a>

    <a href="/games">
      <div class="rightContBubble hoverableOrange">
        <div class="bubblecomp1"></div>
        <div class="bubblecomp2"></div>
        <div class="bubblecomp3"></div>
        My Games
      </div>
    </a>
    <a href="/buddies">
      <div class="rightContBubble hoverableOrange">
        <div class="bubblecomp1"></div>
        <div class="bubblecomp2"></div>
        <div class="bubblecomp3"></div>
        My Buddies
      </div>
    </a>
    <a href="/users">
      <div class="rightContBubble hoverableOrange">
        <div class="bubblecomp1"></div>
        <div class="bubblecomp2"></div>
        <div class="bubblecomp3"></div>
        Find User
      </div>
    </a>
  </div>

  <!-- <script src="{{url_for('static', filename='javascript/sidebar_user.js')}}"></script> -->
{% endblock %}
