{% extends "main.html" %}


{% block main_content %}
  <div class="pageContainer containerBubble">
    <div class="bubblecomp1leftlarge compOrange"></div>
    <div class="bubblecomp2leftlarge compDark"></div>
    <div class="bubblecomp3leftlarge compDark"></div>
    {% block page_content %}
    {% endblock %}
  </div>


{% if current_user.is_authenticated %}
  {% if curr_user_leveling %}
    <style>
    #currentUserBarFill{ width: {{curr_user_leveling.xp_to_level*100}}%}
    </style>
  {% endif %}

  <div class="rightContainer">
    <a href="/user_settings" id="user_sidebar_anchor">
      <div id="userSideBar">
        <div id="avatarBub" class="rightContItem" >
          <img src="{{url_for('static', filename= 'avatars/'+ current_user.avatar|string +'.png')}}" alt="" width="120" height="120">
        </div>

        <div class="userInfoCont" id="currentUserInfo">
          <div class="userNameHolder">
            {{current_user.username}}
          </div>
          <div class="userInfoHolder">
            <div class="levelHolder">
              lvl {{curr_user_leveling.level}}
            </div>
            <div class="levelBar compOrange">
              <div class="levelBarFill compWhite" id="currentUserBarFill"></div>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/play_random">
      <div class="rightContItem rightContBubble hoverableOrange">
        <div class="bubblecomp1right compOrange"></div>
        <div class="bubblecomp2right compDark"></div>
        <div class="bubblecomp3right compDark"></div>
        Play!
      </div>
    </a>

    <a href="/games">
      <div class="rightContItem rightContBubble hoverableOrange">
        <div class="bubblecomp1right compOrange"></div>
        <div class="bubblecomp2right compDark"></div>
        <div class="bubblecomp3right compDark"></div>
        My Games
      </div>
    </a>
    <a href="/buddies">
      <div class="rightContItem rightContBubble hoverableOrange">
        <div class="bubblecomp1right compOrange"></div>
        <div class="bubblecomp2right compDark"></div>
        <div class="bubblecomp3right compDark"></div>
        My Buddies
      </div>
    </a>
    <a href="/users">
      <div class="rightContItem rightContBubble hoverableOrange">
        <div class="bubblecomp1right compOrange"></div>
        <div class="bubblecomp2right compDark"></div>
        <div class="bubblecomp3right compDark"></div>
        Find User
      </div>
    </a>
  </div>
  <script src="{{url_for('static', filename='javascript/styling.js')}}"></script>
{% endif %}
{% endblock %}
