{% extends "main.html" %}

{% block main_content %}
  <div class="pageContainer">
    {% block page_content %}
    {% endblock %}
  </div>
  <div class="rightContainer">
    <div class="rightContBubble hoverableOrange">
      <div class="bubblecomp1"></div>
      <div class="bubblecomp2"></div>
      <div class="bubblecomp3"></div>
      <img src="https://www.freeiconspng.com/uploads/profile-picture-icon-png-people-person-profile--4.png" alt="" width="120" height="120">
    </div>

    <div id="userInfoCont">
      <div id="userNameHolder">
        volt_Zs
      </div>
      <div id="userInfoHolder">
        <div id="levelHolder">
          lvl 8
        </div>
        <div id="levelBar">
          <div id="levelBarFill"></div>
        </div>
      </div>
    </div>

    <div class="rightContBubble hoverableOrange">
      <div class="bubblecomp1"></div>
      <div class="bubblecomp2"></div>
      <div class="bubblecomp3"></div>
      Play!
    </div>
    <div class="rightContBubble hoverableOrange">
      <div class="bubblecomp1"></div>
      <div class="bubblecomp2"></div>
      <div class="bubblecomp3"></div>
      My Games
    </div>
    <div class="rightContBubble hoverableOrange">
      <div class="bubblecomp1"></div>
      <div class="bubblecomp2"></div>
      <div class="bubblecomp3"></div>
      My Buddies
    </div>
    <div class="rightContBubble hoverableOrange">
      <div class="bubblecomp1"></div>
      <div class="bubblecomp2"></div>
      <div class="bubblecomp3"></div>
      Find User
    </div>
  </div>
{% endblock %}
