html{
  /* background: radial-gradient(ellipse at center, #ff8011 15%,#ff5d00 76%); */
  background-color: rgb(255, 119, 0);
}

body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.navigbar{
  padding: 0 12px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgb(255, 155, 68);
  min-width: 640px;
}

.navigbarItem{
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  padding: 9px 0;
  margin: 0 12px;
}

.navigbarItem:hover{
  color: rgb(255, 243, 232);
  cursor: pointer;
}

.navigbarItemRight{
  float: right;
}

#usernameNavigbar{
  position: relative;
}

#notificationBlob{
  position: absolute;
  left: -20px;
  top: 12px;
  width: 15px;
  height: 15px;
  border-radius: 40%;
  background-color: rgb(255, 243, 232);
}

.topSpace{
  width: 100%;
  height: 80px;
}

.mainContainer{
  height: 100vh;
  position: relative;
  width: 60%;
  min-height: 360px;
  min-width: 670px;
  margin: 0 auto;
}

.midScreenForm{
  width:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 150px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(255, 155, 68);
}

.flash_msg{
  z-index: 2;
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  height: 24px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(255, 243, 232);
}

.containerBubble{
  position: relative;
  min-height: 360px;
  margin-top: 8px;
  padding: 30px;
  border-radius: 35px;
}

.gameContainer{
  background-color: rgb(255, 155, 68);
}

.stst_container{
  z-index: -2;
  padding: 25px 60px;;
  height: 330px;
  border-radius: 35px;
  background-color: rgb(255, 243, 232);
  overflow: scroll;
}

.stst_round{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.stst_left{
  box-sizing: border-box;
  display: inline-block;
  flex-basis: content;
  max-width: 48%;
}

.stst_right{
  box-sizing: border-box;
  display: inline-block;
  flex-basis: content;
  max-width: 48%;
}

.vsContainer{
  border-radius: 20px;
  padding: 10px;
  position: relative;
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.miniUserLeft{
  width: 100px;
}

.miniUserRight{
  width: 100px;
}

.miniUsername{
  font-weight: bold;
}

.answerDiv{
  border-radius: 20px;
  padding: 15px;
  position: relative;
  margin: 0 15px;;
  flex-grow: 1;
  align-self: flex-start;
}

.miniAvatar{
  width: 95px;
  height: 95px;
}

.pageContainer{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 70%;
  background-color: rgb(255, 155, 68);
}

.rightContainer{
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 30%;
}

.rightContItem{
  position: relative;
  font-size: 19px;
  font-weight: bold;
  margin: 8px auto;
  text-align: center;
  border-radius: 15px;
}

.rightContBubble{
  width:70%;
  padding: 5px;
  background-color: rgb(255, 155, 68);
}

.notificationBubble{
  position: relative;
  font-size: 19px;
  padding: 5px 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.turnBubble{
  position: relative;
  font-size: 19px;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  border-radius: 15px;
}

.turnTimestampLeft{
  font-size: 14px;
  font-weight: bold;
  opacity: 0.35;
  text-align: left;
  margin-left: 8px;
}
.turnTimestampRight{
  font-size: 14px;
  font-weight: bold;
  opacity: 0.35;
  text-align: right;
  margin-right: 8px;
}

.hoverableOrange:hover{
  background-color: rgb(255, 243, 232);
  cursor: pointer;
}

.compOrange{
  background-color: rgb(255, 155, 68);
}
.compDark{
  background-color: rgb(255, 119, 0);
}
.compWhite{
  background-color: rgb(255, 243, 232);
}

.bubblecomp1right{

  position: absolute;
  right: -10px;
  bottom: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.bubblecomp2right{

  position: absolute;
  right: -20px;
  bottom: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.bubblecomp3right{

  position: absolute;
  right: -20px;
  bottom: 10px;
  width: 20px;
  height: 20px;
}

.bubblecomp1left{

  position: absolute;
  left: -10px;
  bottom: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.bubblecomp2left{

  position: absolute;
  left: -20px;
  bottom: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.bubblecomp3left{

  position: absolute;
  left: -20px;
  bottom: 10px;
  width: 20px;
  height: 20px;
}





.bubblecomp1leftlarge{

  position: absolute;
  left: -20px;
  bottom: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.bubblecomp2leftlarge{

  position: absolute;
  left: -40px;
  bottom: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.bubblecomp3leftlarge{

  position: absolute;
  left: -40px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}

.userInfoCont{
  width: 90%;
  margin: 0 auto 25px auto;
  text-align: center;
}

.userInfoCont:hover{
  color: rgb(255, 243, 232)
}

.userNameHolder{
  font-size: 19px;
  font-weight: bold;
}

.userInfoHolder{
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

.levelHolder{
  display: inline-block;
}

.levelBar{
  display: inline-block;
  position: relative;
  width: 50%;
  background-color: rgb(255, 155, 68);
  height: 9px;
  border-radius: 4px;
}

.levelBarFill{
  position: absolute;
  background-color: rgb(255, 243, 232);
  height: 9px;
  border-radius: 4px;
}

.resultItem{
  max-width: 500px;
  padding: 0 15px;
  margin-bottom: 5px;
}

.resultItemUser{
  font-weight: bold;
  margin-right: 20px;
}

.resultItemButton{
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 5px;
}

.floatContainer{
  position: fixed;
  top: 60px;
  right: 20px;
  width: 280px;
  padding: 10px;
  max-height: 400px;
  overflow: scroll;
  z-index: 2;
  border-radius: 20px;
}

.avatarPick{
  margin-bottom: 10px;
}
.avatarPick:hover{
  cursor: pointer;
}
.previewAvatar:hover{
  cursor: pointer;
}

.avatarGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.floatContBubble{
  width: 60%;
  margin: 0 auto 10px auto;
}

.avatarBreak{
  height: 35px;
}


.hidden{
  display: none;
}

a{
  padding: 0;
  text-decoration: none;
  color: black;
}

form{
  width:100%;
  display: relative;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.inputDiv{
  width: 100%;
  text-align: center;
  margin: 18px 0;
}
input{
  text-align: center;
  font-size: 17px;
  height: 24px;
  width: 80%;
  margin: 0 3px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  background-color: rgb(255, 243, 232);
}
input.answerBubble{
  width: 95%;
}
input[type="submit"]{
  font-weight: bold;
  width: 40%;
}
input[type="submit"]:hover{
  cursor: pointer;
}

.textAlignMiddle{
  text-align: center;
}

.whiteOrange{
  background-color: rgb(255, 243, 232);
}

.whiteOrangeText{
  color: rgb(255, 243, 232);
}

/* pale orange
rgb(255, 243, 232)

regular orange
rgb(255, 155, 68)

dark orange
rgb(255, 119, 0) */
